<div class="div-tabela">
  <div class="div-titulo">
    <label>{{ titulo }}</label>
    <button
      *ngIf="expandido"
      (click)="inverterExpandido()"
      class="seta-cima"
    ></button>
    <button
      *ngIf="!expandido"
      (click)="inverterExpandido()"
      class="seta-baixo"
    ></button>
  </div>
  <table id="tabela" *ngIf="expandido">
    <thead class="head">
      <tr>
        <td (click)="organizarPorTextField()">
          <button>{{ textField }}</button>
        </td>
        <td (click)="organizarPorValueField()">
          <button>{{ valueField }}</button>
        </td>
      </tr>
    </thead>
    <tbody class="body">
      <tr *ngFor="let item of dados">
        <td>
          {{ item[textField] }}
        </td>
        <td>{{ item[valueField] }}</td>
      </tr>
    </tbody>
    <tfoot class="foot">
      <tr>
        <td>Total:</td>
        <td>{{ total }}</td>
      </tr>
    </tfoot>
  </table>
</div>
