.slidecontainer {
  display: flex;
  flex-direction: row;
  width: 90%; /* Width of the outside container */
  margin: 15px;
  z-index: 150;
  position: relative;
  height: fit-content;
  background-color: #eeeeeecc;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid black;
  text-align: start;
}

.label {
  margin-right: 1em;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid rgb(0, 102, 0) 1px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid rgb(0, 102, 0) 1px;
  background: #4caf50;
  cursor: pointer;
}
