<div class="fundo ocupar-tudo">
  <div class="div-tabelas">
    <div class="tabela-lateral" *ngIf="mostrarTabelas">
      <app-dado-simples
        [tituloDado]="'Total de indivíduos: '"
        [dado]="totalWalkers"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Tempo em segundos: '"
        [dado]="tempoEmSegundos"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Tamanho da tela no eixo X: '"
        [dado]="totalEixoX"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Tamanho da tela no eixo Y: '"
        [dado]="totalEixoY"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Alimento gerado: '"
        [dado]="totalAlimentoGerado"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Alimento disponível: '"
        [dado]="alimentos.length"
      ></app-dado-simples>
      <app-tabela-simples
        [titulo]="'Tamanhos'"
        [textField]="'Tamanho'"
        [valueField]="'Quantidade'"
        [dados]="tamanhosWalkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Ciclos'"
        [textField]="'id'"
        [valueField]="'numeroDeCiclos'"
        [dados]="walkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Fome'"
        [textField]="'id'"
        [valueField]="'fome'"
        [dados]="walkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Força de vontade'"
        [textField]="'id'"
        [valueField]="'forcaDeVontade'"
        [dados]="walkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
    </div>
  </div>
  <app-walker
    *ngFor="let walker of walkers"
    [width]="walker.x"
    [height]="walker.y"
    [corDaBorda]="walker.corDaBorda"
    [tamanho]="walker.tamanho"
    (mouseenter)="atualizarCard(walker)"
    (onClick)="trocarCorDeFundoEFazerAcao(walker, $event)"
  ></app-walker>
  <app-card-walker
    *ngIf="dadosCard != null"
    [walker]="dadosCard"
  ></app-card-walker>
  <app-alimento
    *ngFor="let alimento of alimentos"
    [tipo]="alimento.tipo"
    [width]="alimento.x"
    [height]="alimento.y"
  ></app-alimento>
</div>
