<div class="container">
  <div class="div-canvas">
    <img
      id="imgBackground"
      src="../../assets/grass.webp"
      [width]="screen.width"
      [height]="screen.height"
    />
    <canvas id="canvas" #canvas [width]="screen.width" [height]="screen.height">
    </canvas>
  </div>
  <div class="div-configs">
    <div class="input-configs">
      <input
        id="chkShowFrameRate"
        type="checkbox"
        (change)="config.showFrameRate = !config.showFrameRate"
        [checked]="config.showFrameRate"
      />
      <label>Show Frame Rate</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowGrid"
        type="checkbox"
        (change)="config.showGrid = !config.showGrid"
        [checked]="config.showGrid"
      />
      <label>Show Grid</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowId"
        type="checkbox"
        (change)="config.showId = !config.showId"
        [checked]="config.showId"
      />
      <label>Show Id</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowRoutesPreys"
        type="checkbox"
        (change)="config.showRoutesPreys = !config.showRoutesPreys"
        [checked]="config.showRoutesPreys"
      />
      <label>Show Route Preys</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowRoutesPredators"
        type="checkbox"
        (change)="config.showRoutesPredators = !config.showRoutesPredators"
        [checked]="config.showRoutesPredators"
      />
      <label>Show Route Predators</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowVisionPreys"
        type="checkbox"
        (change)="config.showVisionPreys = !config.showVisionPreys"
        [checked]="config.showVisionPreys"
      />
      <label>Show Vision Preys</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowVisionPredators"
        type="checkbox"
        (change)="config.showVisionPredators = !config.showVisionPredators"
        [checked]="config.showVisionPredators"
      />
      <label>Show Vision Predators</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowRuler"
        type="checkbox"
        (change)="config.showRuler = !config.showRuler"
        [checked]="config.showRuler"
      />
      <label>Show Ruler</label>
      <div class="fps">
        {{ config.showFrameRate ? frameRate + " FPS" : "" }}
      </div>
    </div>

    <div class="input-configs">
      <input
        #txtIdBoid
        id="txtIdBoid"
        type="number"
        placeholder="Enter an id"
        (keyup.enter)="toWatchBoid()"
      />
      <br />
      <input
        #radioTypePrey
        id="radioTypePrey"
        name="typeBoid"
        type="radio"
        value="prey"
        checked
      /><label for="radioTypePrey">Prey</label><br />
      <input
        #radioTypePredator
        id="radioTypePredator"
        name="typeBoid"
        type="radio"
        value="predator"
      /><label for="radioTypePredator">Predator</label><br />
      <button type="submit" (click)="toWatchBoid()">Watch boid</button>
    </div>
    <table *ngIf="watchBoid">
      <tr *ngFor="let obj of boidKeys">
        <td>{{ obj.label }}</td>
        <td
          style="text-align: right"
          [ngStyle]="
            obj.label === 'Color' && {
              'background-color': watchBoid[obj.property]
            }
          "
        >
          {{ watchBoid[obj.property] }}
        </td>
      </tr>
    </table>
    <h4>Statistics</h4>
    <table>
      <tr>
        <td>Total Predators</td>
        <td>{{ totalPredators }}</td>
      </tr>
      <tr>
        <td>Total Preys</td>
        <td>{{ totalPreys }}</td>
      </tr>
    </table>
  </div>
</div>
