<div class="container">
  <div class="div-canvas">
    <img
      id="imgBackground"
      src="../../assets/grass.webp"
      alt="Background"
      [width]="screen.width"
      [height]="screen.height"
    />
    <canvas id="canvas" #canvas [width]="screen.width" [height]="screen.height">
    </canvas>
  </div>
  <div class="div-configs">
    <div class="input-configs">
      <input
        id="chkShowFrameRate"
        type="checkbox"
        (change)="handleConfigs('showFrameRate', !config.showFrameRate)"
        [checked]="config.showFrameRate"
      />
      <label>Show Frame Rate</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowGrid"
        type="checkbox"
        (change)="handleConfigs('showGrid', !config.showGrid)"
        [checked]="config.showGrid"
      />
      <label>Show Grid</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowId"
        type="checkbox"
        (change)="handleConfigs('showId', !config.showId)"
        [checked]="config.showId"
      />
      <label>Show Id</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowRoutesPreys"
        type="checkbox"
        (change)="handleConfigs('showRoutesPreys', !config.showRoutesPreys)"
        [checked]="config.showRoutesPreys"
      />
      <label>Show Route Preys</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowRoutesPredators"
        type="checkbox"
        (change)="
          handleConfigs('showRoutesPredators', !config.showRoutesPredators)
        "
        [checked]="config.showRoutesPredators"
      />
      <label>Show Route Predators</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowVisionPreys"
        type="checkbox"
        (change)="handleConfigs('showVisionPreys', !config.showVisionPreys)"
        [checked]="config.showVisionPreys"
      />
      <label>Show Vision Preys</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowVisionPredators"
        type="checkbox"
        (change)="
          handleConfigs('showVisionPredators', !config.showVisionPredators)
        "
        [checked]="config.showVisionPredators"
      />
      <label>Show Vision Predators</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowRuler"
        type="checkbox"
        (change)="handleConfigs('showRuler', !config.showRuler)"
        [checked]="config.showRuler"
      />
      <label>Show Ruler</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkShowResources"
        type="checkbox"
        (change)="handleConfigs('showResources', !config.showResources)"
        [checked]="config.showResources"
      />
      <label>Show Resources</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        id="chkAutoSave"
        type="checkbox"
        (change)="handleConfigs('autoSave', !config.autoSave)"
        [checked]="config.autoSave"
      />
      <label>Auto Save</label>
      <br />
    </div>
    <div class="input-configs">
      <label>Time per cycle: {{ config.velocity / 1000 }}s</label>
      <br />
    </div>
    <div class="input-configs">
      <input
        #rangeVelocity
        id="rangeVelocity"
        type="range"
        min="0"
        max="100"
        [(ngModel)]="config.velocity"
        (change)="changeVelocity()"
      />
      <br />
    </div>
    <br />
    <div class="fps">
      {{ config.showFrameRate ? frameRate + " FPS" : "" }}
    </div>
    <br />
    <table aria-describedby="Statistics">
      <th>--Statistics--</th>
      <tr>
        <td>Total Predators</td>
        <td>{{ totalPredators }}</td>
      </tr>
      <tr>
        <td>Total Preys</td>
        <td>{{ totalPreys }}</td>
      </tr>
      <tr>
        <td>Total Dead Preys</td>
        <td>{{ totalDeadPreys }}</td>
      </tr>
    </table>
    <br />
    <div class="input-configs">
      <button type="button" (click)="saveSection()">Save Section</button>
      <button type="button" (click)="resetSection()">Reset Section</button>
      <br />
      Last save: {{ lastSave }}
    </div>
    <br />
    <div class="input-configs">
      <input
        id="txtIdBoid"
        type="text"
        maxlength="4"
        placeholder="Enter an id"
        [(ngModel)]="txtIdBoid"
        (keyup.enter)="toWatchBoid()"
      />
      <br />
      <input
        id="radioTypePrey"
        name="typeBoid"
        type="radio"
        value="prey"
        checked
        [(ngModel)]="choice"
      />
      <label for="radioTypePrey">Prey</label>
      <br />
      <input
        id="radioTypePredator"
        name="typeBoid"
        type="radio"
        value="predator"
        [(ngModel)]="choice"
      />
      <label for="radioTypePredator">Predator</label>
      <br />
      <input
        id="radioTypeConstruction"
        name="typeBoid"
        type="radio"
        value="construction"
        [(ngModel)]="choice"
      />
      <label for="radioTypeConstruction">Construction</label>
      <br />
      <button
        *ngIf="!watch || watch.id != txtIdBoid"
        type="submit"
        (click)="toWatchBoid()"
      >
        Watch
      </button>
      <button *ngIf="watch" type="submit" (click)="unwatchBoid()">
        Unwatch
      </button>
    </div>
    <table *ngIf="watch">
      <caption>
        Propertys of boid
        {{
          watch.id
        }}
      </caption>
      <th>Property</th>
      <th>Value</th>
      <tr *ngFor="let obj of objKeys">
        <td>{{ obj.label }}</td>
        <td
          style="text-align: right"
          [ngStyle]="
            obj.label === 'Color' && {
              'background-color': watch[obj.property]
            }
          "
        >
          {{ watch[obj.property] }}
        </td>
      </tr>
    </table>
  </div>
</div>
