<div
  [ngClass]="{
    'fundo-dark': usarDarkMode,
    fundo: !usarDarkMode
  }"
  class="full-content"
  (click)="fecharCard()"
>
  <div class="div-tabelas">
    <app-dado-simples
      [tituloDado]="'Total de indivíduos: '"
      [dado]="totalWalkersQueJaExixtiram"
    ></app-dado-simples>
    <app-dado-simples
      [tituloDado]="'Total de indivíduos vivos: '"
      [dado]="totalWalkersVivos"
    ></app-dado-simples>
    <app-dado-simples
      [tituloDado]="'Tempo em segundos: '"
      [dado]="tempoEmSegundos"
    ></app-dado-simples>
    <button *ngIf="mostrarTabelas" (click)="inverterMostrarTabelas()">
      Fechar tabelas
    </button>
    <button *ngIf="!mostrarTabelas" (click)="inverterMostrarTabelas()">
      Abrir tabelas
    </button>
    <div class="tabela-lateral" *ngIf="mostrarTabelas">
      <app-dado-simples
        [tituloDado]="'Tamanho da tela no eixo X: '"
        [dado]="totalEixoX"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Tamanho da tela no eixo Y: '"
        [dado]="totalEixoY"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Alimento gerado: '"
        [dado]="totalAlimentoGerado"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Alimento disponível: '"
        [dado]="alimentos.length"
      ></app-dado-simples>

      <!--TO DO: criar um componente especifico para essa combo-box-->
      <div class="div-combo">
        <label>Propriedades para observar na tabela</label><br />
        <select (change)="mudarPropriedadeSelecionada($event)">
          <option
            *ngFor="let item of propriedadesPossiveis"
            [value]="item.chave + '/&*' + item.valor"
          >
            {{ item.chave }}
          </option>
        </select>
      </div>
      <app-tabela-simples
        [titulo]="propriedadeSelecionada.chave"
        [textField]="'id'"
        [valueField]="propriedadeSelecionada.valor"
        [usarValueFieldComoCor]="
          propriedadeSelecionada.valor === 'corDaBorda' ||
          propriedadeSelecionada.valor === 'corInicial' ||
          propriedadeSelecionada.valor === 'tipoAlimentoPreferidoString'
        "
        [dados]="walkers"
        [total]="totalWalkersVivos"
      ></app-tabela-simples>

      <app-tabela-simples
        [titulo]="'Tamanhos'"
        [textField]="'Tamanho'"
        [valueField]="'Quantidade'"
        [dados]="tamanhosWalkers"
        [total]="totalWalkersVivos"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Sexos'"
        [textField]="'Sexo'"
        [valueField]="'Quantidade'"
        [dados]="sexos"
        [total]="totalWalkersVivos"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Causa da morte'"
        [textField]="'Causa da Morte'"
        [valueField]="'Quantidade'"
        [dados]="causaDaMortePorQuantidade"
        [total]="totalWalkerMortos"
      ></app-tabela-simples>
    </div>
  </div>
  <div class="div-comandos">
    <button
      class="botao-config"
      *ngIf="!mostrarConfiguracoes"
      (click)="inverterMostrarConfiguracoes()"
    >
      Abrir configurações
    </button>
    <button
      class="botao-config"
      *ngIf="mostrarConfiguracoes"
      (click)="inverterMostrarConfiguracoes()"
    >
      Fechar configurações
    </button>
    <div *ngIf="mostrarConfiguracoes">
      <app-slider
        [valorMax]="totalWalkersVivos * 10"
        [valorMin]="1"
        [valorAtual]="alimentosGeradosPorVez"
        [label]="'Quantidade de Alimento Gerado por vez'"
        (onChange)="mudarAlimentoGeradoPorVez($event)"
      ></app-slider>
      <app-slider
        [valorMax]="5"
        [valorMin]="1"
        [valorAtual]="velocidadeSimulacao"
        [label]="'Velocidade'"
        (onChange)="mudarVelocidadeSimulacao($event)"
      ></app-slider>

      <button
        class="botao-config"
        *ngIf="!usarDarkMode"
        (click)="inverterUsarDarkmode()"
      >
        Usar Dark Mode
      </button>
      <button
        class="botao-config"
        *ngIf="usarDarkMode"
        (click)="inverterUsarDarkmode()"
      >
        Usar Light Mode
      </button>

      <button
        class="botao-config"
        *ngIf="!mostrarId"
        (click)="inverterMostrarId()"
      >
        Mostrar Id's
      </button>
      <button
        class="botao-config"
        *ngIf="mostrarId"
        (click)="inverterMostrarId()"
      >
        Esconder Id's
      </button>
      <!-- <button class="botao-config" (click)="inverterModoPerformatico()">
        Usar modo performático
      </button> -->
    </div>
  </div>
  <app-walker
    *ngFor="let walker of walkers"
    [walker]="walker"
    [mostrarId]="mostrarId"
    [darkMode]="usarDarkMode"
    (dblclick)="atualizarCard(walker)"
  ></app-walker>
  <app-card-walker
    *ngIf="dadosCard != null"
    [walker]="dadosCard"
  ></app-card-walker>
  <app-alimento
    *ngFor="let alimento of alimentos"
    [tipo]="alimento.tipo"
    [width]="alimento.x"
    [height]="alimento.y"
  ></app-alimento>
</div>
