<div class="fundo ocupar-tudo" (click)="fecharCard()">
  <div class="div-tabelas">
    <button *ngIf="mostrarTabelas" (click)="inverterMostrarTabelas()">
      Fechar tabelas
    </button>
    <button *ngIf="!mostrarTabelas" (click)="inverterMostrarTabelas()">
      Abrir tabelas
    </button>
    <div class="tabela-lateral" *ngIf="mostrarTabelas">
      <app-dado-simples
        [tituloDado]="'Total de indivíduos: '"
        [dado]="totalWalkers"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Total de indivíduos vivos: '"
        [dado]="totalWalkersVivos"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Tempo em segundos: '"
        [dado]="tempoEmSegundos"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Tamanho da tela no eixo X: '"
        [dado]="totalEixoX"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Tamanho da tela no eixo Y: '"
        [dado]="totalEixoY"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Alimento gerado: '"
        [dado]="totalAlimentoGerado"
      ></app-dado-simples>
      <app-dado-simples
        [tituloDado]="'Alimento disponível: '"
        [dado]="alimentos.length"
      ></app-dado-simples>

      <app-tabela-simples
        [titulo]="'Tamanhos'"
        [textField]="'Tamanho'"
        [valueField]="'Quantidade'"
        [dados]="tamanhosWalkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Longevidade'"
        [textField]="'id'"
        [valueField]="'longevidade'"
        [dados]="walkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Ciclos'"
        [textField]="'id'"
        [valueField]="'numeroDeCiclos'"
        [dados]="walkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Alimentação'"
        [textField]="'id'"
        [valueField]="'alimentacao'"
        [dados]="walkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Força de vontade'"
        [textField]="'id'"
        [valueField]="'forcaDeVontade'"
        [dados]="walkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Sexos'"
        [textField]="'Sexo'"
        [valueField]="'Quantidade'"
        [dados]="sexos"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Reprodução'"
        [textField]="'id'"
        [valueField]="'vontadeDeReproducao'"
        [dados]="walkers"
        [total]="totalWalkers"
      ></app-tabela-simples>
      <app-tabela-simples
        [titulo]="'Causa da morte'"
        [textField]="'Causa da Morte'"
        [valueField]="'Quantidade'"
        [dados]="causaDaMortePorQuantidade"
        [total]="totalWalkers"
      ></app-tabela-simples>
    </div>
  </div>
  <div class="div-comandos">
    <app-slider
      [valorMax]="totalWalkers * 10"
      [valorMin]="totalWalkers / 10"
      [label]="'Quantidade de Alimento Gerado por vez'"
      (onChange)="mudarAlimentoGeradoPorVez($event)"
    ></app-slider>
    <app-slider
      [valorMax]="5"
      [valorMin]="1"
      [label]="'Velocidade'"
      (onChange)="mudarVelocidadeSimulacao($event)"
    ></app-slider>
  </div>
  <app-walker
    *ngFor="let walker of walkers"
    [walker]="walker"
    (mouseenter)="atualizarCard(walker)"
    (onClick)="trocarCorDeFundoEFazerAcao(walker, $event)"
  ></app-walker>
  <app-card-walker
    *ngIf="dadosCard != null"
    [walker]="dadosCard"
  ></app-card-walker>
  <app-alimento
    *ngFor="let alimento of alimentos"
    [tipo]="alimento.tipo"
    [width]="alimento.x"
    [height]="alimento.y"
  ></app-alimento>
</div>
