div {
  z-index: 1;
  position: absolute;
  padding: 5px;
  border-radius: 50px;
  background-color: yellow;
}

.alimento1 {
  background-color: aqua;
}
.alimento2 {
  background-color: red;
}
.alimento3 {
  background-color: green;
}
.alimento4 {
  background-color: darkblue;
}
.alimento5 {
  background-color: yellow;
}
.alimento6 {
  background-color: black;
}
.alimento7 {
  background-color: pink;
}
.alimento8 {
  background-color: blueviolet;
}
