.container {
  flex-direction: row;
}

#div-canvas {
  margin: 0.25rem;
  border: 2px solid black;
}

#div-info {
  margin: 0.25rem;
  padding: 1rem;
  border: 2px solid green;
}

#div-configs {
  margin: 0.25rem;
  padding: 1rem;
  border: 2px solid green;
}
